# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\jstre\OneDrive\bs_comp_sci_coursework\fall_20\cs_3710\assignments\assignment-03-jstrelka\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
